body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: #141414;
}
body, html {
	height: auto;
}
img {
    vertical-align: middle;
}
.unselectable {
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
.condensed {
	font-family: 'Roboto Condensed', sans-serif;
}
h1 {
	display: none;
}
/* Mobile navbar */
.navbar {
	background-color: white;
	-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
	        box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
	height: 60px;
	width: 60px;
	border-radius:  0 0 10px 0;
	/* Stick to top of browser */
	position: fixed;
	top: 0;
	/* On top of page content */
	z-index: 1;
}
.navbar-button {
	color: #008000;
	font-size: 24pt;
	text-align: center;
	width: 50px; 
	height: 50px;
	line-height: 50px;
	border-radius: 50%;
	margin: 5px;
	/* Animate background color on hover */
	background-color: white;
	-webkit-transition: background-color .15s;
	-o-transition: background-color .15s;
	transition: background-color .15s;
}
.navbar-button:hover {
	cursor: pointer;
	background-color: lightgrey;
}
/* Sidebar */
.sidebar {
	background-color: white;
	height: 100vh;
	-webkit-box-shadow: 3px 0 5px 0 rgba(0, 0, 0, .1);
	        box-shadow: 3px 0 5px 0 rgba(0, 0, 0, .1);
	overflow-y: auto;
}
.sidebar-mobile {
	/* Animate slide in */
	-webkit-transition: left 0.5s;
	-o-transition: left 0.5s;
	transition: left 0.5s;
	position: fixed;
	top: 0;
	width: 85%;
	left: -90%;
	/* Position above */
	z-index: 3;
}
.sidebar-desktop {
	float: left;
	width: 450px;
	height: 0;
	margin-left: -460px;
	/* Stick to top of browser */ 
  	position: sticky;
	top: 0;
}
.sidebar-logo {
	font-weight: 300;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 60px;
}
.sidebar-text {
	line-height: 150%;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
}
.sidebar-link {
	font-weight: 300;
	padding-left: 30px;
	padding-right: 30px;
	-webkit-transition: all .1s;
	-o-transition: all .1s;
	transition: all .1s;
}
.sidebar-link-mobile {
	font-size: 14pt;
	padding-top: 15px;
	padding-bottom: 15px;
}
.sidebar-link-desktop {
	font-size: 18pt;
	padding-top: 20px;
	padding-bottom: 20px;
}
.sidebar-link:hover {
	background-color: #e6e6e6;
	cursor: pointer;
}
.sidebar-link-active {
	color: white;
	font-weight: 700;
	background-color: #008000;
}
.sidebar-link-active:hover {
	background-color: #006600;
}
.sidebar-close-button-container {
	position: relative;
	width: 100%;
}
.sidebar-close-button {
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 18pt;
	float: right;
}
.overlay {
	/* Cover screen */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* Position behind menu */
	z-index: 2;
	/* Animate opacity when menu is opened*/
	background-color: black;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
	/* Ignore cursor when not shown */
	pointer-events: none;
}
/* Page content */
.page {
	min-height: 100vh;
	background-color: #f2f2f2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.page-content {
	margin: auto;
	width: 880px;
	max-width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.page-title {
	color: #008000;
	font-weight: 300;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}
.page-entry {
	width: 350px;
	max-width: 100%;
	padding: 20px;
}
.page-image {
	max-width: 100%;
}
.page-image-caption {
	width: 100%;
	padding-top: 10px;
	font-style: italic;
	text-align: center;
}
.page-mobile-spacer {
	height: 80px;
}
.page-mobile-spacer-small {
	height: 30px;
}
.break {
	width: 100%;
	height: 0;
}
.home-page-header {
	height: 100%;
	width: 100%;
	text-align: right;
	background-color: #f2f2f2;
}
.home-page-header-container {
	padding: 30px 15px 30px 15px; 
	position: relative; 
	top: 50%; 
	-webkit-transform: translateY(-50%); 
	-ms-transform: translateY(-50%); 
	transform: translateY(-50%);
}
.home-page-header-title {
	font-size: 36pt; 
	font-weight: 300;
	color: #008000; 
	line-height: 85%; 
	padding-bottom: 10px; 
}
.home-page-header-subtitle {
	font-size: 11pt; 
	color: black;
}
/* Text */
.regular-text {
	font-size: 10pt;
	line-height: 150%;
}
.big-text {
	font-size: 24pt;
}
.small-text {
	font-size: 9pt;
}
.music-title-text {
	font-weight: bold;
	font-size: 20pt;
	line-height: 120%;
}
.contact-text {
	padding-top: 5px;
	font-size: 20pt;
	width: 100%;
}
.grey-text {
	color: #808080;
}
/* Images */
.big-image {
	width: 100%; 
	-o-object-fit: cover; 
	   object-fit: cover; 
	background-color: #141414;
}
.contact-banner {
	height: 50vh;
	background-image: url('images/contact-banner.png');
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
/* Footer */
footer {
	-ms-flex-item-align: end;
	    align-self: flex-end;
	width: 100%;
	padding: 30px 0px 30px 0px;
	color: #808080;
	background-color: #141414;
	text-align: center;
}
footer a {
	color: #808080;
}

/* Dropdown (hidden content) */
.dropdown {
	width: 100%; 
	text-align: center; 
	border-bottom: 1px solid grey; 
	line-height: 0;
	font-size: 20pt;
	margin-bottom: 30px;
}
.dropdown span {
	font-weight: normal;
	font-size: 10pt;
	background-color: whitesmoke;
	padding-left: 20px;
	padding-right: 20px;
}
.dropdown span:hover {
	cursor: pointer;
	text-decoration: underline;
	font-weight: normal;
	font-size: 10pt;
	background-color: whitesmoke;
	padding-left: 20px;
	padding-right: 20px;
}
/* Desktop styling */
@media only screen and (min-width: 960px) {
	.navbar {
		display: none;
	}
	.sidebar-mobile {
		left: -90%;
	}
	.sidebar-desktop {
		margin-left: 0;
		height: 100vh;
	}
	.page {
		margin-left: 450px;
	}
	.page-content {
		padding: 50px;
	}
	.page-mobile-spacer, .page-mobile-spacer-small {
		height: 0;
	}
	.big-text {
		font-size: 36pt;
	}
	.music-title-text {
		font-size: 24pt;
	}
	.home-page-header-container {
		padding: 50px 30px 50px 30px; 
	}
	.home-page-header-title {
		font-size: 60pt; 
		padding-bottom: 10px; 
	}
	.home-page-header-subtitle {
		font-size: 16pt;
	}
}