body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #141414;
}
body, html {
	height: 100%;
}
img {
    vertical-align: middle;
}
.unselectable {
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
.condensed {
	font-family: 'Roboto Condensed', sans-serif;
}
h1 {
	display: none;
}
/* Mobile navbar (sidebar button) */
.navbar {
	background-color: white;
	-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
	        box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
	height: 60px;
	width: 60px;
	border-radius:  0 0 10px 0;
	/* Stick to top of browser */
	position: fixed;
	top: 0;
	/* On top of page content */
	z-index: 1;
}
.navbar-button {
	color: #141414;
	font-size: 24pt;
	text-align: center;
	width: 50px; 
	height: 50px;
	line-height: 50px;
	border-radius: 50%;
	margin: 5px;
	/* Animate background color on hover */
	background-color: white;
	-webkit-transition: background-color .15s;
	-o-transition: background-color .15s;
	transition: background-color .15s;
}
/* Sidebar */
.sidebar {
	background-color: white;
	height: 100vh;
	-webkit-box-shadow: 3px 0 5px 0 rgba(0, 0, 0, .1);
	        box-shadow: 3px 0 5px 0 rgba(0, 0, 0, .1);
	overflow-y: auto;
}
.sidebar-mobile {
	/* Animate slide in */
	-webkit-transition: left 0.5s;
	-o-transition: left 0.5s;
	transition: left 0.5s;
	position: fixed;
	top: 0;
	width: 85%;
	left: -90%;
	/* Position above */
	z-index: 3;
}
.transitionless {
	-webkit-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}
.sidebar-desktop {
	float: left;
	width: 400px;
  	position: fixed;
	top: 0;
	/* Hide for mobile */ 
	height: 0;
	margin-left: -460px;
}
.sidebar-logo {
	font-weight: 300;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 60px;
}
.sidebar-text {
	line-height: 150%;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
}
.sidebar-link {
	font-weight: 300;
	padding-left: 30px;
	padding-right: 30px;
	-webkit-transition: background-color .1s;
	-o-transition: background-color .1s;
	transition: background-color .1s;
}
.sidebar-link-mobile {
	font-size: 14pt;
	padding-top: 15px;
	padding-bottom: 15px;
}
.sidebar-link-desktop {
	font-size: 18pt;
	padding-top: 20px;
	padding-bottom: 20px;
}
.sidebar-link-active {
	color: white;
	font-weight: 700;
	background-color: #008000;
}
.sidebar-close-button-container {
	position: relative;
	width: 100%;
}
.sidebar-close-button {
	float: right;
	color: #141414;
	font-size: 18pt;
	text-align: center;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 50%;
	margin-top: 14px;
	margin-right: 15px;
	background-color: white;
	-webkit-transition: background-color .15s;
	-o-transition: background-color .15s;
	transition: background-color .15s;
}
.overlay {
	/* Cover screen */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* Position behind menu */
	z-index: 2;
	/* Animate opacity when menu is opened*/
	background-color: black;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
	/* Ignore cursor when not shown */
	pointer-events: none;
}
.overlay-visible {
	opacity: .5 !important;
	pointer-events: auto !important;
}
/* Page content */
.page {
	min-height: 100%;
	background-color: #f2f2f2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.page-content {
	-ms-flex-item-align: start;
	    align-self: flex-start;
	margin: auto;
	width: 780px;
	max-width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-top: 80px;
	margin-bottom: 20px;
}
.page-title {
	width: 350px;
	max-width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	color: #008000;
	font-size: 50pt;
	height: 75pt;
	/* For aligning letters */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
/* For positioning page title */
.page-title-spacer {
	width: 390px;
	max-width: 100%;
}
.page-entry {
	width: 350px;
	max-width: 100%;
	padding: 20px;
}
.page-image {
	max-width: 100%;
}
.page-image-caption {
	width: 100%;
	padding-top: 10px;
	font-style: italic;
	text-align: center;
}
.home-page {
	background-color: #141414;
	background-image: url('images/home-banner.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	/* For positioning big name title */
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.name-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.name {
	color: white;
	padding: 20px;
	text-shadow: 0 4px 4px #000000;
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
	white-space: nowrap;
	/* For aligning letters */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	/* Mobile */
	font-size: 80pt; 
	height: 40pt;
	line-height: 30pt;	
}
.font {
	-webkit-transform: scale(1);
	    -ms-transform: scale(1);
	        transform: scale(1);
	-webkit-transition: -webkit-transform .25s;
	transition: -webkit-transform .25s;
	-o-transition: transform .25s;
	transition: transform .25s;
	transition: transform .25s, -webkit-transform .25s;
}
.font-hidden {
	-webkit-transform: scale(0);
	    -ms-transform: scale(0);
	        transform: scale(0);
}
.font-animated {
	-webkit-animation: font-bounce 1s infinite;
	        animation: font-bounce 1s infinite;
}
.font-animated:hover {
	cursor: pointer
}
@-webkit-keyframes font-bounce {
	0% { 	margin-top: 0; 		}
	50% { 	margin-top: 10px; 	}
	100% { 	margin-top: 0; 		}
}
@keyframes font-bounce {
	0% { 	margin-top: 0; 		}
	50% { 	margin-top: 10px; 	}
	100% { 	margin-top: 0; 		}
}
.name-subtitle {
	opacity: 0;
	color: white;
	font-family: 'Roboto Condensed', sans-serif;
	width: 100%;
	text-align: center;
	text-shadow: 0 2px 2px #000000;
	-webkit-transition: opacity .75s;
	-o-transition: opacity .75s;
	transition: opacity .75s;
	/* Mobile */
	font-size: 14pt; 
	padding-top: 50px;
}
/* Old homepage header */
/*
.home-page-header {
	text-align: right;
	position: absolute;
	top: 30px;
	right: 30px;
	width: 100%;
}
.home-page-header-title {
	color: white; 
	line-height: 95%; 
	font-family: 'Roboto Slab', serif;
	font-weight: 500;
	font-size: 44pt; 
	margin-bottom: 8px;
}
.home-page-header-subtitle {
	color: white;
	font-size: 12pt; 
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	margin-right: 4px;
}
*/
/* Text */
.regular-text {
	font-size: 10pt;
	line-height: 150%;
}
.big-text {
	font-size: 24pt;
}
.small-text {
	font-size: 9pt;
}
.music-title-text {
	font-weight: bold;
	font-size: 20pt;
	line-height: 120%;
}
.contact-text {
	padding-top: 5px;
	font-size: 20pt;
	width: 100%;
}
.grey-text {
	color: #808080;
}
/* Images */
.big-image {
	width: 100%; 
	-o-object-fit: cover; 
	   object-fit: cover; 
	background-color: #141414;
}
/* Footer */
footer {
	-ms-flex-item-align: end;
	    align-self: flex-end;
	width: 100%;
	padding: 25px 0px 25px 0px;
	color: #808080;
	background-color: #141414;
	text-align: center;
}
footer a {
	color: #808080;
}
/* Dropdown (hidden content) */
/* 
.dropdown {
	width: 100%; 
	text-align: center; 
	border-bottom: 1px solid grey; 
	line-height: 0;
	font-size: 20pt;
	margin-bottom: 30px;
}
.dropdown span {
	font-weight: normal;
	font-size: 10pt;
	background-color: whitesmoke;
	padding-left: 20px;
	padding-right: 20px;
}
.dropdown span:hover {
	cursor: pointer;
	text-decoration: underline;
	font-weight: normal;
	font-size: 10pt;
	background-color: whitesmoke;
	padding-left: 20px;
	padding-right: 20px;
}
*/
/* Youtube embeds (16x9) */
.video-entry, .calendar-entry {
	width: 740px;
	max-width: 100%;
	padding: 20px;
}
.video-container {
	position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* Calendar */
.calendar {
	width: 100%; height: 600px;
}
/* For mobile, only show mobile calendar */
.calendar-desktop {
	display: none;
}
.calendar-mobile {
	max-height: 65vh;
	display: block;
}
/* Desktop styling */
@media only screen and (min-width: 960px) {
	.navbar {
		display: none;
	}
	.sidebar-mobile {
		left: -90%;
	}
	.sidebar-desktop {
		margin-left: 0;
		height: 100vh;
	}
	.page {
		margin-left: 400px;
	}
	.page-title {
		font-size: 60pt;
		height: 90pt;
	}
	.page-content {
		margin-top: 60px;
	}
	.big-text {
		font-size: 36pt;
	}
	.music-title-text {
		font-size: 24pt;
	}
	.home-page-header-title {
		font-size: 60pt; 
	}
	.home-page-header-subtitle {
		font-size: 16pt;
	}
	.video-container {
		width: 100%;
		padding-bottom: 56.25%;
	}
	.name {
		font-size: 150pt;
		height: 120pt;
		line-height: 75pt;
	}
	.name-subtitle {
		font-size: 18pt; 
		padding-top: 40px;
	}
	/* For desktop, only show desktop calendar */
	.calendar-desktop {
		display: block;
	}
	.calendar-mobile {
		display: none;
	}
}
/* Hover magic */
@media (hover: hover) and (pointer: fine) {
	.navbar-button:hover {
		cursor: pointer;
		background-color: lightgrey;
	}
	.sidebar-link:hover {
		background-color: #e6e6e6;
		cursor: pointer;
	}
	.sidebar-link-active:hover {
		background-color: #006600;
	}
	.sidebar-close-button:hover {
		cursor: pointer;
		background-color: lightgrey;
	}
}
.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}